APP_ENV=development
APP_PORT=3001   

DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
DB_PORT=5432

OPENAI_API_KEY=
JWT_SECRET=

GEMINI_API_KEY=

SUPABASE_PROJECT_URL=
SUPABASE_PROJECT_TOKEN=

MIDTRANS_SERVER_KEY=
ROBOFLOW_API_KEY=
